NEXT_PUBLIC_SUPABASE_URL=https://tebqtbfiteemmfrusihn.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRlYnF0YmZpdGVlbW1mcnVzaWhuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ4Mjk1MTMsImV4cCI6MjA5MDQwNTUxM30.FRlFTCX5bUVuLJrkPz-uVZo7K0NQvUUciSYIZj7hAXo
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRlYnF0YmZpdGVlbW1mcnVzaWhuIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDgyOTUxMywiZXhwIjoyMDkwNDA1NTEzfQ.uiKVMaJ5keOa3UzDbQz3FJhv2Ys7DbDxO7IU0Ql_azE
